<mat-card>
  <mat-card-header>
    <mat-card-title>Space Travel Made Easy</mat-card-title>
    <mat-card-subtitle>The Galaxy's #1 Pilot Training Course</mat-card-subtitle>
  </mat-card-header>
  <div fxLayout="row" fxLayoutAlign="center">
    <img mat-card src="/assets/MF_Cockpit_TFA.png" />
  </div>
  <mat-card-content class="home-content">
    <p class="summary">
      At Copilots'R'Us, we understand how essential space travel is to
      intergalactic business. This is why we provide you with connections to the
      best pilots and starship owners throughout the galaxy.
    </p>
    <div fxLayout="row" fxLayoutAlign="start center" class="quote-block">
      <div mat-card-avatar class="avatar-image Obi"></div>
      <span
        >"He was the best starpilot in the galaxy, and a cunning warrior." - Ben
        Kenobi about Anakin Skywalker</span
      >
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="quote-block">
      <div mat-card-avatar class="avatar-image Han"></div>
      <span
        >"[The Millenium Falcon is] the ship that made the Kessel Run in less
        than twelve parsecs. I've outrun Imperial starships, not the local
        bulk-cruisers, mind you. I'm talking about the big Corellian ships now.
        She's fast." - Han Solo</span
      >
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="quote-block">
      <div mat-card-avatar class="avatar-image Luke"></div>
      <span>"I'm not such a bad pilot myself" - Luke Skywalker</span>
    </div>
  </mat-card-content>
</mat-card>
