/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

router-outlet ~ * {
  width: 90%;
}

// Currently ignoring link colors as temporary fix for dark themes
a:-webkit-any-link {
  color: inherit;
}
